*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Background Color */
    --background-color:rgb(19, 19, 19);
    --fill-color:rgb(214, 222, 201);
    --food-color:red;
    /*Default Font family*/
    --font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*Default text color*/
    --text-color:rgb(239, 238, 238);
    /*Spacing variable*/
    --space-xs:4px;
    --space-s:8px;
    --space-l:16px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;
    /*Border color*/
    --border-color:rgb(104, 103, 103);
    /*Border radius*/
    --radius-xs:4px;
    --radius-s:8px;
    --radius-l:16px;
    --radius-xl:32px;
    --radius-2xl:40px;
    --radius-3xl:48px;
    /*Text Size*/
    --text-xs:4px;
    --text-s:8px;
    --text-l:16px;
    --text-xl:32px;
    --text-2xl:40px;
    --text-3xl:48px;
}
html,body{
    height:100%;
    width:100%;

}
html{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

main,section{
    width: 100%;
    height: 100%;
}
section{
    padding: var(--space-2xl) ;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:var(--space-xl);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--space-xs) var(--space-l);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-s);
}
.info h1{
    font-weight: 600;
    font-size: var(--text-xl);
}
.board{
    border: 1px solid var(--border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(10px,1fr));
}
.box{
    height: 10px;
    width: 10px;
    border: 1px solid var(--border-color);
}
.fill{
    background-color: var(--fill-color);
}
.food{
    background-color: var(--food-color);
}
.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    
    
}
.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--radius-l);
}
.btn{
    padding: var(--space-xs) var(--space-s);
    border: none;
    border-radius: var(--radius-xs);
    cursor: pointer;
}
.btn-start:hover{
     transition: 0.2s ease-in-out;
     transform: scale(1.1);
}
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--radius-l);
}
.btn-restart:hover{
     transition: 0.2s ease-in-out;
     transform: scale(1.1);
}
.modal .game-over{
    display: none;
}